@if(loading)
{
<mat-spinner></mat-spinner>
}


@if(hasData)
{
<div>
  <table>
    <tr>
      <td>

        <table>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Document type</mat-label>

                <mat-select [(ngModel)]="selectedDocumentType" name="documentType">


                  @for (item of documentTypes; track item) {
                  <mat-option [value]="item.name">
                    {{item.name}}
                  </mat-option>
                  }

                </mat-select>

              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              Selected document type: <b>{{selectedDocumentType}}</b>

            </td>
          </tr>
          <tr>
            <td>
              {{selectedDocumentTypeDescription}}

            </td>
          </tr>
        </table>

      </td>
      <td>

        <table>
          <tr>
            <td>

              <mat-form-field>
                <mat-label>Export Option</mat-label>

                <mat-select [(ngModel)]="selectedExportOption" name="exportOption">

                  @for (item of exportOptions ; track item) {
                  <mat-option [value]="item.name">
                    {{item.name}}
                  </mat-option>
                  }


                </mat-select>


              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              Selected option: <b> {{selectedExportOption}}</b>

            </td>
          </tr>
          <tr>
            <td>
              {{selectedExportOptionDescription}}

            </td>
          </tr>
        </table>

      </td>
      <td>

        <button mat-raised-button type="submit" color="primary" (click)="exportData()">
          Export
        </button>

      </td>
    </tr>
  </table>

</div>

}
