<div class="container text-center" [formGroup]="form">

  <div class="row">
    <div class="col">
      <h3>{{legend}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput
               placeholder="Address Line 1"
               formControlName="addressLine1" (blur)="onTouched()">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput
               placeholder="Address Line 2"
               formControlName="addressLine2" (blur)="onTouched()">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput
               placeholder="Zip Code"
               formControlName="zipCode" (blur)="onTouched()">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput
               placeholder="City"
               formControlName="city"
               (blur)="onTouched()">
      </mat-form-field>
    </div>
  </div>

</div>

