<mat-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basics Fields</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>


      <app-basic-fields-form formControlName="basics" legend="Basics JMCR"></app-basic-fields-form>

      <div>
        <p>Go to a different step to see the error state</p>
        <button mat-raised-button type="submit" color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Cover Image</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
               required>
      </mat-form-field>
      <div>
        <p>Go to a different step to see the error state</p>


        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="d-grid gap-3 col-sm-4 gap-3 p-2 m-2" style="grid-template-columns: 1fr 1fr">

            <div class="p-2">
              <button mat-raised-button type="submit" color="primary" matStepperPrevious>Back</button>
            </div>

            <div class="p-2">
              <button mat-raised-button type="submit" color="primary" matStepperNext>Next</button>
            </div>

          </div>
          <div class="col-sm-4"></div>
        </div>

      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Notes and Tags</ng-template>
    <p>You are now done.</p>

    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="d-grid gap-3 col-sm-4 gap-3 p-2 m-2" style="grid-template-columns: 1fr 1fr">

        <div class="p-2">
          <button mat-raised-button type="submit" color="primary" matStepperPrevious>Back</button>
        </div>

        <div class="p-2">
          <button mat-raised-button type="submit" color="primary" (click)="stepper.reset()">Reset</button>
        </div>

      </div>
      <div class="col-sm-4"></div>
    </div>

  </mat-step>

</mat-stepper>



<!--<mat-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Basics Fields</ng-template>
    <ng-template matStepContent>
      <p>This content was rendered lazily</p>
      <button mat-raised-button type="submit" color="primary" matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Cover Image</ng-template>
    <ng-template matStepContent>
      <p>This content was also rendered lazily</p>

      <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="d-grid gap-3 col-sm-4 gap-3 p-2 m-2" style="grid-template-columns: 1fr 1fr">

          <div class="p-2">
            <button mat-raised-button type="submit" color="primary" matStepperPrevious>Back</button>
          </div>

          <div class="p-2">
            <button mat-raised-button type="submit" color="primary" matStepperNext>Next</button>
          </div>

        </div>
        <div class="col-sm-4"></div>
      </div>-->


      <!--<div class="button-container">
        <div class="button-box">
          <button mat-raised-button type="submit" color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button type="submit" color="primary" matStepperNext>Next</button>
        </div>
      </div>-->
    <!--</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Notes and Tags</ng-template>
    <p>This content was rendered eagerly</p>
    <button mat-raised-button type="submit" color="primary" matStepperPrevious>Back</button>
  </mat-step>
</mat-stepper>-->
